<div class="wrapper">
<div class="previous-next-post-links">
    <div>
        {% if page.previous != nil %}
            <a href="{{ post.url | relative_url }}{{ page.previous.url }}">
                <i class="fas fa-chevron-left fa-5x">
               <!--  {{ page.previous.title }} -->
                </i>
            </a>
        {% endif %}
    </div>
    

    <div>
        {% if page.next != nil %}
            <a href="{{ post.url | relative_url }}{{ page.next.url }}">
                <i class="fas fa-chevron-right fa-5x" style="float:right;">
            </i>
        </a>
        {% endif %}
    </div>
</div>
</div>