.previous-next-post-links {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    padding-left:0rem;
    font-size: $base-font-size;


    div {
        width: 100%;

        &:not(:last-child)
        {
            border-right:solid;
            color:$grey-color-light-l;
        }
        
    }

    i
    {
        float:left; 
        padding:0.4rem;
        background-color:$grey-color-light-l;
        border-radius:0.8rem;
        
        &:hover{
            transform:translateY(-0.18rem); 
            box-shadow: 0 5px 15px rgba(0,0,0,.2);
        }
    
    }

    .side
    {
    // background-color: rgb(23, 23, 172);
    margin:10px;

    }
    div a
    {
     	padding: 0.4rem;
        overflow:hidden;
         
         &:hover
         {
            //  color:gainsboro;
            color:rgba(40, 180, 131, 0.8);
            transition-delay: 0.1s;
         }

         &:visited
         {
         }
    }
   

    

    .arrow__left {
        &::before {
            content: "\2190";
            padding-right: .3em;
        }
        
    }

    .arrow__right {
        &::after {
            content: "\2192";
            padding-left: .5em;
        }
    }
}