---
layout: default
title: "Study Journal"
---

<div class="home">
  
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  {%- if site.posts.size > 0 -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li style="background-color: white;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
            
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% include individual_listing_tag.html%}
        <p>{{post.author}}</p>
        <h3 style="font-size: 34px;">
          
            {{ post.title | escape }}
        
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <a style="font-size:18px; border:1px solid grey;border-radius:10px; background:none; width:90px; text-decoration: none; padding:10px;"class="post-link" href="{{ post.url | relative_url }}">Read more
          </a>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
