---
layout: default
title: programming
---

<div class="home">

<!--About section -->
<main>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          About
        </h2>
      </div>
      <div class="wrapper">
      <div class="row">
          <div class="col-1">
            <h3 class="heading-tertiary u-margin-bottom-small">Languages:</h3>
            <h4>-C++</h4>
            <h4>-JAVA</h4>
            <h4>-Groovy</h4>
          </div>

          <div class="col-1">
            <h3 class="heading-tertiary u-margin-bottom-small">Projects:</h3>
            <h4>-JAVA FX</h4>
            <h4>-TOMCAT</h4>
            <h4>-SQL</h4>
            <h3 class="heading-tertiary">Platforms:</h3>
            <h4>-Windows</h4>
            <h4>-MAC</h4>
            <h4>-Android</h4>
            <h4>-iOS</h4>
          </div>

      </div>
      </div>
    </section>
  </main>
  <div class="wrapper">
  {%- if page.title -%}

  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}

  <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
  <ul class="post-list" >
    <div class="u-center-text u-margin-bottom-small">
    <h2 class="heading-secondary">Articles</h2>
    </div>
    {%- for post in site.posts -%}
    <li style="
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      {% include individual_listing_tag.html%}
      <p>{{post.author}}</p>
      <h1>

        {{ post.title | escape }}

      </h1>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
      <a class="btn btn-white" href="{{ post.url | relative_url }}">Read more
      </a>
    </li>
    {%- endfor -%}
  </ul>


  {%- endif -%}
</div>

</div>
